<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>join</title>
</head>
<body>
    <form action="/auth/join" method="POST">
        <p>email</p>
        <input type="email" name="email" required placeholder="email">
        <p>nick name</p>
        <input type="text" name="nick" required placeholder="nick name">
        <p>password</p>
        <input type="password" name="password" required placeholder="password">
        <p>re-password</p>
        <input type="password" name="repassword" required placeholder="re-password">
        <button type="submit">join</button>
    </form>
</body>
</html>